<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <title>insta485</title>

    <!--One stylesheet to rule them all.-->
    <link rel="stylesheet" type="text/css" href="../../css/style.css" media="screen" />
</head>

<body>

    <!--This is the top navigation bar.-->
    <nav>
        <a href="/" id="LinkToSamePage">"Link to /"</a>
        <a href="/explore/" id="LinkToExplore">"Link to Explore"</a>
        <a href="{{'/users/'~logname~'/'}}" id="LinkToAwdeorio">"{{logname}}"</a>
    </nav>
    <!--End of the top navigation bar.-->

    <div>
        {% for pic in profile_pic %}
        <h2><img src="/uploads/{{pic.profile_pic}}" alt="">{{logname}}</h2>
        
        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" />
            <input type="text" name="fullname" value="{{pic.fullname}}" required />
            <input type="text" name="email" value="{{pic.email}}" required />
            <input type="submit" name="update" value="submit" />
            <input type="hidden" name="operation" value="edit_account" />
        </form>
        <a href="/accounts/password/">Change Password</a>
        <a href="/accounts/delete/">Delete Account</a>
        {% endfor %}
    </div>
</body>

</html>