<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <title>insta485</title> 
</head>

<body>
    
    <!--This is the top navigation bar.-->
    <nav>
            <a href="/" id ="LinkToSamePage">"Link to /"</a>
            <a href="/explore/" id ="LinkToExplore">"Link to Explore"</a>
            <a href="{{'/users/'~logname~'/'}}" id ="LinkToAwdeorio">"{{logname}}"</a>
    </nav>
    <!--End of the top navigation bar.-->
    <div>
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            old password<br>
            <input type="password" name="password" required/>
            <br>New password<br>
            <input type="password" name="new_password1" required/>
            <br>New password, again<br>
            <input type="password" name="new_password2" required/>
            <br>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
          </form>
    </div>
    <a href = "/accounts/edit/"><h2>Back to Edit Account</h2></a>
</html>